.movieGrid {
  display: grid;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.movieItem {
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s;
}

.movieItem:hover {
  transform: scale(1.1);
}

.movieLink {
  color: inherit;
  text-decoration: inherit;
}

.movieImage {
  width: 200px;
  height: 300px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px #333333;
}

.movieProfile {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 300px;
}

.movieProfileGrid {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr;
}

.backdropImage {
  width: 300px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 8px #333333;
  transition: box-shadow 0.3s;
  cursor: pointer;
  aspect-ratio: auto;
}

.backdropImage:hover {
  box-shadow: 0px 0px 15px 16px #d214e4;
}

.movieName {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  font-family: "Aclonica";
}

.movieDescription {
  margin-top: 10px;
  margin-left: 45px;
  height: 300px;
  text-align: justify;
}

.movieInfo {
  margin-top: 40px;
}

.movieVignette {
  display: flex;
  flex-direction: column;
}

.pageSelectors {
  height: 50px;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  font-family: "Aclonica";
}

.pageArrow {
  cursor: pointer;
  display: inline-block;
  margin-left: 50px;
  margin-right: 100px;
  padding: 5px;
}

.pageArrow:hover {
  background-color: white;
  border-radius: 5px;
}
